<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <h1>Brand: <%= brand.name %></h1>
    <h3>Current products:</h3>
    <ul>
        <% if (brand_products.length > 0) { %>
            <% brand_products.forEach(function(product) { %>
                <li class="product-card">
                  <img src="/images/uploads/<%= product.img %>" style="width: 100px; height: 100px;">
                  <div class="card-info">
                    <a href="<%= product.url %>"><%= product.name %></a>
                    <p>Category: <%= product.category.name %></p>
                    <p>Brand: <%= brand.name %></p>
                    <p>$<%= product.price.toFixed(2) %></p>
                    <p>Quantity: <%= product.quantity %></p>
                  </div>  
                </li>
             <% }); %>
        <% } else { %>
            <li><p>There are no products for this brand.</p></li>
        <% } %>
    </ul>
    <hr>
    <p>
      <a href="<%= brand.url %>/delete">Delete Brand</a>
    </p>
    <p>
      <a href="<%= brand.url %>/update">Update Brand</a>
    </p>

    
  </body>
</html>