<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <h1><%= title %></h1>
    <ul>
        <% category_list.forEach(function(category) { %>
            <li>
              <a href="<%= category.url %>"><%= category.name %></a>
            </li>
       <% }); %>

    </ul>

  </body>
</html>