<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <h1>Category: <%= category.name %></h1>
    <ul>
        <% if (category_products.length > 0) { %>
            <% category_products.forEach(function(product) { %>
                <li>
                    <a href="<%= product.url %>"><%= product.name %></a>
                    $<%= product.price %>
                </li>
             <% }); %>
        <% } else { %>
            <li><p>There are no products in this category.</p></li>
        <% } %>
    </ul>
    
  </body>
</html>