<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to the Snowboard Shop Inventory, a dashboard for managing the inventory of a fake snowboard store business.</p>
    <p>You can use this dashboard to Create, Read, Update and Delete products. You can also view products by brands and categories.</p>
    
    <h5>The inventory contains the following:</h5>
    <ul>
      <li>
        <strong>Products:</strong> <%= product_count %>
      </li>
      <li>
        <strong>Brands:</strong> <%= brand_count %>
      </li>
      <li>
        <strong>Categories:</strong> <%= category_count %>
      </li>

    </ul>

  </body>
</html>
