<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <h1>Product: <%= product.name %></h1>
    <p>Category: <%= product.category.name %></p>

    <p><%= product.description %></p>

    <p>$<%= product.price.toFixed(2) %></p>
    <p>Quantity: <%= product.quantity %></p>
    <% if (typeof product.img !== "undefined") { %>
      <img src="/images/uploads/<%= product.img %>" style="width: 200px; height: 200px;">
    <% } %>

    <hr>
    <p>
        <a href="<%= product.url %>/delete">Delete Product</a>
    </p>
    <p>
        <a href="<%= product.url %>/update">Update Product</a>
    </p>
  </body>
</html>