<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <h1><%= title %>: <%= product.name %></h1>


      <p>Do you really want to delete this Product?</p>
      <form method="POST">
        <div class="form-group">
          <input id="productid" class="form-control" type="hidden" name="productid" value="<%= product._id %>">
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
      </form>
    
    
  </body>
</html>